:root {
  --foreground-dark: #AD5F90;
  --foreground-light: #E4C4C9;
  --foreground-lighter: #eeebeb;
  --background-dark: #1A757A;
  --background-light: #58A9AD;
  --default-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

* {
  box-sizing: border-box;
}
* a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
* .material-symbols-outlined {
  margin: 0.25rem;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: rgba(113, 183, 223, 0.726); */
  background-color: var(--background-dark);
  margin: 0px;
  min-height: 1000px;
  font-family: "Merriweather", serif;
}
body .bodyHeader {
  background-color: var(--background-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 3px 16px 25px -3px rgb(34, 35, 49);
}
body .bodyHeader h1 {
  margin: 6px 10px;
  font-size: clamp(1.3rem, 2.5vw, 1.8rem);
}
body .bodyHeader nav #toggler {
  display: none;
}
body .bodyHeader nav #toggler:checked ~ ul {
  right: 0;
}
body .bodyHeader nav #toggler:checked ~ label div:nth-child(1) {
  transform: rotate(45deg);
  top: calc(50% - 1px);
}
body .bodyHeader nav #toggler:checked ~ label div:nth-child(2) {
  opacity: 0;
}
body .bodyHeader nav #toggler:checked ~ label div:nth-child(3) {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
body .bodyHeader nav label {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.15rem;
}
body .bodyHeader nav label div {
  height: 2px;
  width: 100%;
  background-color: black;
  position: absolute;
  transition: 0.2s;
}
body .bodyHeader nav label div:nth-child(1) {
  top: calc(22% - 1px);
}
body .bodyHeader nav label div:nth-child(2) {
  top: calc(50% - 1px);
}
body .bodyHeader nav label div:nth-child(3) {
  top: calc(78% - 1px);
}
body .bodyHeader nav ul {
  background-color: var(--foreground-light);
  list-style-type: none;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  position: fixed;
  right: -100%;
  top: 2.1rem;
  height: calc(100% - 2.1rem);
  transition: 0.5s;
  flex-direction: column;
}
body .bodyHeader nav ul li {
  top: 0;
  left: 0;
  margin: 0.3rem;
}
body .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 0.5rem 0 0.5rem;
}
body .wrapper header {
  width: 100%;
}
body .wrapper header h2 {
  margin: 0;
}
body .wrapper .content p {
  margin: 0;
  margin-bottom: 2rem;
  line-height: 1.2rem;
}
body .wrapper .content img {
  max-width: 100%;
}
body .wrapper .content .tableWrapper {
  padding: 0 1rem;
}
body .wrapper .content table {
  box-shadow: var(--default-box-shadow);
  width: 100%;
  border-collapse: collapse;
}
body .wrapper .content table tr {
  background: var(--foreground-light);
}
body .wrapper .content table tr:nth-child(even) {
  background: var(--foreground-lighter);
}
body .wrapper .content table th {
  background-color: var(--foreground-dark);
  padding: 0.5rem;
}
body .wrapper .content table td {
  padding: 0.3rem;
}
body .wrapper .content form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 1rem;
  gap: 5px;
  background-color: var(--foreground-lighter);
  box-shadow: var(--default-box-shadow);
  border-radius: 0.5rem;
}
body .wrapper .content form input,
body .wrapper .content form textarea {
  padding: 10px;
}
body .wrapper .content .projects {
  border: 2px dashed red;
}
body .wrapper .content .projects .projectsWrapper {
  border: 2px dashed blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .wrapper .content .projects .projectsWrapper .project {
  cursor: pointer;
  position: realative;
  aspect-ratio: 1/1;
  width: 28%;
  border-radius: 0 0 1.4rem 1.4rem;
  margin: 0.5rem;
}
body .wrapper .content .projects .projectsWrapper header {
  border: 5px dashed rgb(255, 255, 255);
  z-index: 1;
}
body .wrapper .content .projects .projectsWrapper header position:relative h3 {
  margin: 0;
}
body .wrapper .content .projects .projectsWrapper header p {
  display: none;
}
body .wrapper .content .projects .projectsWrapper img {
  border-radius: 1.2rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

footer {
  /* border: 2px dashed red; */
  margin-top: 3rem;
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
}
footer ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer p {
  margin: 0;
}

@media (min-width: 768px) {
  body .bodyHeader nav ul {
    flex-direction: row;
    position: static;
    background-color: transparent;
  }
  body .bodyHeader nav label {
    display: none;
  }
  body .wrapper {
    min-height: 70vh;
    flex-direction: row;
  }
  body .wrapper:nth-child(odd) {
    flex-direction: row-reverse;
  }
  body .wrapper > * {
    flex: 1;
    text-align: center;
    padding: 3rem;
  }
}